
body {
	background: #f9e933;
	font-family: 'Droid Sans', sans-serif;
}

header, main, footer{
	min-width: 855px;
}

header .container, main .container, footer .container{
	max-width: 855px;
	margin: auto
}

header{
	background: white;
	overflow: auto;
	border-bottom: 1px solid lightgray;	

	padding-bottom: 25px;
	padding-top: 25px;
}

/*logo for page*/
h1{
	float: left;
	width: 570px;

	color: #C80000;
	font-style: italic;
	font-size: 300%;
	font-family: 'Ubuntu', sans-serif;
}

/*footer heading*/
h5 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 125%;
	margin-bottom: 20px;
}


header nav{
	float: right;
	width: 285px;
}

a{
	color: tomato;
	text-decoration: none;
	font-weight: bold;
}

main .content {
    padding: 30px 10px 30px 10px;
    border-radius: 0 5px 5px 5px;
    background: #eee;
}

main .content li {
    border-radius: 5px;
    padding: 3px;
    background: #eff;
    margin: 0 0 10px 0;
}

main .content button {
  font-weight: bold;
  padding: 0 3px 0 3px;
  border-radius: 5px;
  background: #ccc;
  cursor: pointer;
  margin-left: 5px;
  font-size: 1.3em;
}


main .content p {
    background: yellow;
}

main .content input {
    font-size: 1.5em;
}

main .container{
	min-height: 450px;
}

main {
	background: white;
	overflow: auto;	
}

.tabs a span{
	display: inline-block;
	border-radius: 5px 5px 0 0;
	width: 100px;
	margin-right: 10px;
	text-align: center;
	background: #ddd;
	padding: 5px;
}

.tabs a span.active {
	background: #eee;
}

footer .contact{
	float: left;
	width: 570px;
}


footer .sitemap{
	float: right;
	width: 285px;
}

footer .ftlist{
	-webkit-columns: 2;
	columns: 2;
	-moz-columns: 2;
}


a:visited{
	color: purple;
}

a:hover{
	text-decoration: underline;
}